body {
    font-size: 0.85em;
}

header {
    background-color: orangered;
    padding: 4px 8px;
}

header a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

#container {
    display: flex;
    justify-content: center;
}

#inner {
    width: 85%;
    min-width: 800px;
}

.comment {
    padding-left: 12px;
}

.by {
    color: #666;
    padding-bottom: 8px;
}

ul {
    line-height: 160%;
    list-style-type: none;
}
